*{
	margin: 0;
	padding: 0;
	background: transparent;
	border: 0;
	outline: 0;
	color: #000;
}
#container{
	text-align: left;
}
header{
	position: absolute;
	width: 100%;
	z-index: 11;
}
header div h1 a{
	text-decoration: none;
	color: #40514e;
}
.menuBox{
	width: 100%;
	float: right;
	position: relative;
	transition: opacity 1.25s ease,background 0s ease;
}
.menuBox .menuInfo{
	float: right;
}
.menuBox .menuInfo nav{
	display: block;
}
.menuBox .menuInfo nav ul{
	list-style: none
}
.menuBox .menuInfo nav ul li{
	float: left;
}
.menuBox .menuInfo nav ul li p{
	padding: 42px 18px 45px;
}
.menuBox .menuInfo nav ul li p a{
	font-size: 16px;
	display: block;
	letter-spacing: 1.5px;
	position: relative;
	text-decoration: none;
	transition: color 0.6s ease;
}
a:hover{
	/*color: #11999e;*/
	color: #6c819b;
}
#main{
	display: block;
}
#banner{
	width: 100%;
	overflow: hidden;
	position: relative;
	height: 100vh;
	/*height: auto;*/
}
#banner .bannerBox{
	width: 100%;
	height: 100%;
	position: relative;
}
#banner .bannerBox .bannerImg{
	background: url(img/bannerImg.jpg) no-repeat center;
	background-size: cover;
	opacity: 0.8;
	height: 100%;
	width: 100%;
	position: relative;
}
#banner .bannerWord{
	position: absolute;
	top: 45%;
	right: 48%;
	text-shadow: 1px 1px 1px #fff;
}
#banner .bannerWord h6{
	font-weight: normal;
	font-size: 30px;
}
#banner .bannerWord p{
	font-weight: 24px;

}
.scene{
	margin-top: 144px;
	margin-bottom: 150px;
}
.scene h2{
	font-size: 36px;
	text-align: center;
	letter-spacing: 2px;
	margin-bottom: 66px;
}
.scene ul{
	margin-bottom: 51px;
	list-style: none;
}
.scene ul li{
	width: 33.3%;
	float: left;
	position: relative;
	background: #40514e;
	
}
.scene ul li a{
	display: block;
}
.scene ul li:after{
	transition: background 0.6s ease;
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.scene ul li:hover:after{
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	/*background:rgba(16, 152, 157,0.5); */
	background: #6c819b;
	opacity: 0.6;
	
}
.scene ul li a img{
	/*height: 300px;*/
	display: inline;
	width: 100%;
}
.scene ul li a p{
	text-align: center;
	position: absolute;
	width: 100%;
	top: 50%;
	left: 0;
	z-index: 1;
	color: #fff;
}
.news{
	position: relative;
	top: 100px;
	pointer-events: none;
	margin-bottom: 144px;
}
.news h2{
	margin-top:100px;
	margin-bottom: 40px; 
	text-align: center;
}
.news .newsDiv{
	display: flex;
	flex-direction: column;
	align-items: baseline;
}
.news .newsDiv .newsWord{
	margin: 20px auto;
	width: 50%;

}
.news .newsDiv .newsWord div{
	display: inline-block;
	margin-right: 40px;
}
.news .newsDiv .newsWord div span{
	margin-right: 10px;
}
.news .newsDiv .newsWord p{
	display: inline-block;
}
.slide{
	margin-bottom: 150px;
}
.slide .picSlide{
	position: relative;
	width: 100%;
	height: 550px;
	overflow: hidden;
}

.slide .picSlide div img{
	width: 100%;
	top: -50px;
	position: relative;
}
/***********1張圖片show4秒，中間間隔1秒(1-4-1-4)***********/
.slide .picSlide div{
	animation: pic_slide 10s linear infinite;
	position: absolute;
	opacity: 0;
}
.slide .picSlide div:nth-child(1){
	animation-delay: 0s;
}
.slide .picSlide div:nth-child(2){
	animation-delay: 5s;

}
@keyframes pic_slide{
	0%{
		opacity: 0;
		filter: alpha(opacity=0)
	}
	10%{
		opacity: 0.8;
		filter: alpha(opacity=80)
	}
	50%{
		opacity: 0.8;
		filter: alpha(opacity=80)
	}
	60%{
		opacity: 0;
		filter: alpha(opacity=0)
	}
}